/* Клиенты */

.clients__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
	color: var(--black-txt-color-main);
}

.clients__list {
	display: flex;
}

.clients__item {
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.clients__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	color: var(--social-media-color-main);
	border: 1px solid var(--social-media-color-main);
	border-radius: 4px;
	transition: color var(--anim), border var(--anim);

	&:hover,
	&:focus {
		color: var(--accent-txt-color);
		border: 1px solid var(--accent-txt-color);
	}
}

.clients__icon {
	fill: currentColor;
}
