/* Logo */
.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	color: var(--accent-txt-color);
	text-decoration: none;
	margin-right: 88px;

	@media screen and (min-width: 1200px) {
		margin-right: 93px;
		font-size: 26px;
		line-height: 1.19;
	}

	&--color-black {
		color: var(--black-txt-color-logo);
	}

	&--color-white {
		color: var(--white-txt-color);
	}
}
